* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 24px;
    margin-top: 32px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;

    /* border-top: 4px solid red; */
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

.games-list img {
    width: 90px;;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
}

 